{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="under-nav">
    <div class="container d-flex justify-content-center">
        <div class="card col-sm-10 col-md-8 col-lg-6">
            <article class="card-body">
                <header class="mb-4">
                    <h4 class="card-title">Password Reset Sent</h4>
                </header>

                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

                <hr>
                <p class="text-center"><a href="{% url 'customers:customer_login' %}">Back to Login</a></p>
            </article>
        </div>
    </div>
</section>
{% endblock content %}