{% extends 'base.html' %}

{% block content %}
<section class="under-nav">
    <div class="container mt-4">
        <div class="alert alert-success" role="alert">
            Your password has been successfully changed.
        </div>
        <div class="text-center">
            <p><a href="{% url 'customers:customer_login' %}" class="btn btn-primary mr-2">You can now log in with your new password.</a></p>
            <p><a href="{% url 'customers:view_profile' %}" class="btn btn-secondary">Back to Profile</a></p>
        </div>
    </div>
</section>
{% endblock %}
